# {{ ansible_managed }}
{% if hostsfile_add_default_ipv4 %}

# IPv4 default entries
{% for hostsentry in hostsfile_default_ipv4 %}
{{ hostsentry }}
{% endfor %}
{% endif %}
{% if hostsfile_add_default_ipv6 %}

# IPv6 default entries
{% for hostsentry in hostsfile_default_ipv6 %}
{{ hostsentry }}
{% endfor %}
{% endif %}
{% if hostsfile_hosts_entries | length != 0 %}
{% for host in hostsfile_hosts_entries %}
{% if host.comment is defined %}

# {{ host.comment }}{% endif %}

{{ host.ip }}  {{ host.name }} {{ host.aliases | default('') | join(' ') }}
{% endfor %}
{% endif %}
